html, body {
    /* background-color: black; */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer, a {
    font-size: 13px;
    align-items: center;
    padding: 10px 0px 15px 15px;
}

.appleButton, .googleButton {
    background: white;
    display: flex;
    color: black;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid white;
    padding: 8px;
    border-radius: 25px;
    width: 290px;
    justify-content: center;
}

.appleLogo, .googleLogo {
    width: 20px;
    margin-bottom: auto;
    display: inline-block;
    margin-right: 5px;
}

.signup {
    background: rgb(29, 155, 240);
    display: flex;
    color: white;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid rgb(29, 155, 240);
    padding: 8px;
    border-radius: 25px;
    width: 290px;
    justify-content: center;
}

.policy {
    font-size: 12px;
    margin-top: 5px;
    max-width: 350px;
    color: rgb(113, 118, 123);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 13px;
}

.rightBr, .leftBr {
    display: inline;
    margin-top: 10px;
    width: 128px;
    height: 1px;
    background-color:rgb(47, 51, 54); 
}

.leftBr {
    margin-left: 10px;
}

.rightBr {
    margin-right: 10px;
}

.break {
    display: flex;
    color: white;
    font-size: 15px;
    padding: 8px;
}

.policy>a {
    padding: 0 2px 0 2px;
    font-size: 12px;
    text-decoration: none;
}

.googleButton {
    margin-top: 13px;
}

a>span, footer>span {
    text-decoration: none;
    color: rgb(113, 118, 123);
}

footer>span {
    padding-left: 20px;
}

.left-side {
    max-width: 57%;
    width: 57%;
    background-image: url('./lohp_en_1302x955.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    bottom: 0;
    position: fixed;
    text-align: center;
    position: rel;
}

.right-side>span {
    display: flex;
    color: white;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: -1.2px;
}

.heading1 {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #E7E9EA;
    margin-top: 48px;
    font-size: 64px;
    font-stretch: 100%;
}

.heading2 {
    margin-top: 48px;
    font-size: 31px;
}

.heading3 {
    font-size: 17px;
}

.right-side {
    height: 100%;
    width: 43%;
    min-width: 43%;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
}

.signin-Button {
    background: black;
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 700;
    border: 1px solid white;
    padding: 13px;
    border-radius: 25px;
    width: 350px;
}

.main {
    background-color: black;
}

